body {
  background-color: rgb(250, 214, 56);
}

.container-fluid {
  background-color: rgb(250, 214, 56);
  padding: 0%;
}

.thankyou {
  background-color: rgb(250, 214, 56);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#menu {
  background-color: rgb(245, 149, 23);
}

.menuColor {
  color: rgb(20, 19, 19);
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footercontent {
  height: 20%;
  background-color: rgb(245, 149, 23);
}
