body {
  background-color: rgb(250, 214, 56);
}
.container-fluid {
  background-color: rgb(250, 214, 56);
  padding: 0%;
}

.row {
  margin: 0%;
}

#menu {
  background-color: rgb(245, 149, 23);
}

.menuColor {
  color: rgb(20, 19, 19);
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productwrapper {
  margin: 5% 0%;
}

.headlines {
  text-align: center;
  padding: 3%;
}

.headlines > p {
  font-size: 2em;
}

#imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  border: 2px solid rgb(245, 149, 23);
}

#quantityinput {
  max-width: 50px;
  text-align: center;
}

#submitbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

#trashwrapper > i {
  font-size: 1em;
  display: flex;
  justify-content: center;
}

#trashwrapper > i:hover {
  cursor: pointer;
}

form {
  display: inline-block;
}

#contactform input {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#productname {
  font-weight: bold;
}

#paymentoption {
  margin: 0% 5%;
}

#sum {
  margin: 3%;
}

#footercontent {
  height: 20%;
  background-color: rgb(245, 149, 23);
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 2em;
  }
  .headlines > p {
    font-size: 4em;
  }
  #contactform input {
    width: 100%;
  }
  #trashwrapper > i {
    font-size: 2em;
  }

  input {
    font-size: 25pt;
  }
  button {
    font-size: 25pt;
  }
  #detailswrapper {
    font-size: 2em;
  }

  #sum {
    font-size: 2em;
  }
  #payradio {
    width: 25px;
    height: 25px;
  }
}
