body {
  background-color: rgb(245, 149, 23);
}
.container {
  background-color: rgb(250, 214, 56);
}

#productwrapper {
  margin: 5% 0%;
}

.headlines {
  text-align: center;
  padding: 3%;
}

.headlines > p {
  font-size: 2em;
}

#imgwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  border: 2px solid rgb(245, 149, 23);
}

#quantityinput {
  max-width: 50px;
  text-align: center;
}

#submitbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 2em;
  }
  .headlines > p {
    font-size: 3em;
  }
}
